<footer>
  <div
    class="bg-gray-200 flex flex-col gap-5 justify-center items-center pt-7 pb-7"
  >
    <p class="text-lg font-bold">Copyright © 2024. All rights are reserved</p>
    <div class="flex gap-7">
      <a
        target="_blank"
        class="cursor-pointer"
        href="https://www.linkedin.com/in/galaktioni-danelia/"
      >
        <i class="fa-brands fa-linkedin fa-2xl"></i>
      </a>
      <a target="_blank" class="w-8" href="https://github.com/aristocrat4/">
        <i class="fa-brands fa-github fa-2xl"></i>
      </a>
    </div>
  </div>
</footer>
